:root { 
--black_900_7e:#0000007e; 
--blue_900:#0042bc; 
--pink_50:#ffe6eb; 
--blue_gray_400:#8d8d8d; 
--blue_A700:#0459f4; 
--pink_900:#74254b; 
--light_blue_100:#aad3ff; 
--gray_900:#001131; 
--red_300:#d45971; 
--blue_A200:#5b94fb; 
--pink_300_01:#ff6b88; 
--black_900:#000000; 
--light_blue_A700:#007bff; 
--blue_100:#ccdefb; 
--blue_200:#99bafa; 
--pink_300:#e34e9c; 
--white_A700:#ffffff; 
--pink_100:#faa7d5; 
}